package org.incenp.obofoundry.sssom.model;

import java.util.List;
import java.time.LocalDate;
{% if cls.name == 'MappingSet' -%}
import java.util.Map;
{% endif -%}
import lombok.AccessLevel;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.NoArgsConstructor;
import com.fasterxml.jackson.annotation.JsonProperty;

@NoArgsConstructor
@AllArgsConstructor(access = AccessLevel.PROTECTED)
@Builder(toBuilder = true)
@Data
@EqualsAndHashCode(callSuper=false)
public class {{ cls.name }} {% if cls.is_a -%} extends {{ cls.is_a }} {%- endif %} {
{%- if cls.name == 'MappingSet' %}
    @JsonProperty("curie_map")
    private Map<String,String> curieMap;
{% endif -%}
{%- for f in cls.fields %}
    {%- if f.source_slot.name != f.name %}
    @JsonProperty("{{ f.source_slot.name }}")
    {%- endif %}
    {%- if f.source_slot.range == 'EntityReference' %}
    @EntityReference
    {%- endif %}
    private {% if f.source_slot.range == 'date' %}LocalDate
            {%- elif f.source_slot.range == 'mapping_cardinality_enum' %}MappingCardinality
            {%- elif f.source_slot.range == 'entity_type_enum' %}EntityType
            {%- elif f.source_slot.range == 'predicate_modifier_enum' %}PredicateModifier
            {%- else %}{{ f.range }}{% endif %} {{ f.name }};
{% endfor -%}
}

