package org.incenp.obofoundry.sssom.model;

import java.util.List;
{% if cls.name == 'MappingSet' -%}
import java.util.Map;
{% endif -%}
import lombok.Data;
import lombok.EqualsAndHashCode;
import com.fasterxml.jackson.annotation.JsonProperty;

@Data
@EqualsAndHashCode(callSuper=false)
public class {{ cls.name }} {% if cls.is_a -%} extends {{ cls.is_a }} {%- endif %} {
{%- for f in cls.fields %}
    {%- if f.source_slot.name != f.name %}
    @JsonProperty("{{ f.source_slot.name }}")
    {%- endif %}
    private {{ f.range }} {{ f.name }};
{% endfor -%}
{%- if cls.name == 'MappingSet' %}
    @JsonProperty("curie_map")
    private Map<String,String> curieMap;
{% endif -%}
}

